<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>In The Loop - <%= title %></title>
</head>
<body>
  <header id="banner">
    <a href="/"><img src="/images/alternate-banner.png" alt="Website Banner with the words In The Loop"></a>
  </header>
  <nav>
    <a href="/" <%- title === 'Live Feed' ? 'class="active"' : '' %> >Live Feed</a> <!-- IF MY HOME BUTTON DOES THE SAME THING AS THIS LINK, SHOULD I REMOVE THIS LINK AND MAYBE RENAME MY HOME LINK?-->
    <% if (user) { %>
      <a href="/projects/my" <%- title === 'My Projects' ? 'class="active"' : '' %> >My Projects</a>
      <a href="/projects/my/new" <%- title === 'New Project' ? 'class="active"' : '' %> >New Project</a>
      <div id="active-user">
        <div id="active-user-avatar"><img src="<%= user.avatar %>"></div>
        <span>Welcome, <%= user.firstName %>!</span>
        <a href="/logout">[Log Out]</a>
      </div>
    <% } else { %>
      <a href="/auth/google" class="login">Log In&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
   </nav>