<%- include('../partials/header') %>

<h1>My Projects</h1>

<div id="my-project-header">
    <a href="/projects/my/new"><button>Add New Project</button></a>
    <div class="color-code">
        <div class="green"></div><p>Project is <b>Complete</b></p>
        <div class="blue"></div><p>Project is <b>In Progress</b></p>
    </div>
</div>

<div id="my-project-container">
<% if (projects.length) { %>
    <% projects.forEach(function(p) { %>

        <div id="my-project-tile" class="<%= p.complete ? 'green' : 'blue'%>">
            <% if (user && p.creator.equals(user._id)) { %>
                <a id="project-see-more-button" href="/projects/<%= p._id %>"><button><img src="/images/see-more-icon.png" alt="search icon" id="see-more-project-button"></button></a>
                <a id="project-edit-button" href="/projects/<%= p._id %>/edit"><button><img src="/images/edit-icon.png" alt="edit icon" id="edit-project-button"></button></a>
                <form id="project-delete-button" action="/projects/<%= p._id %>?_method=DELETE" method="POST"><button type="submit"><img src="/images/delete-icon.png" alt="trash icon" id="delete-project-button"></button></form>
            <% } %>
            <h5><%= p.title %></h5>
            <p><b><i>Creator:</i></b> <%= user.name %></p>
            <img src="<%= (p.image) ? p.image : '/images/yarn-ball.png' %>">
            <p><b><i>Start Date:</i></b> <%= p.startDate.toLocaleString('en-US', { dateStyle: 'full' }) %></p>
            <p><b><i>Difficulty:</i></b> <%= p.difficulty %></p>
            <p><b><i>Description:</i></b> <%= p.description %></p>
            <p><b><i>Complete:</i></b> <%= p.complete ? 'Yes' : 'In Progress' %></p>
        </div>

    <% }) %>

<% } else { %>
    <p id="no-projects">You do not have any projects - add one above!</p>
<% } %>
</div>

<%- include('../partials/footer') %>