<%- include('../partials/header') %>

<div id="my-project-header">
    <h1>My Projects</h1>
    <a href="/projects/my/new"><button>Add New Project</button></a>
    <div class="color-code">
        <div class="green"></div><p>Project is <b>Complete</b></p>
        <div class="blue"></div><p>Project is <b>In Progress</b></p>
    </div>
</div>

<div id="my-project-container">
<% if (projects.length) { %>
    <% projects.forEach(function(p) { %>

        <div id="my-project-tile" class="<%= p.complete ? 'green' : 'blue'%>">
            <h5><%= p.title %></h5>
            <p><b><i>Creator:</i></b> <%= user.name %></p>
            <img src="<%= p.image %>">
            <p><b><i>Start Date:</i></b> <%= p.startDate.toLocaleString('en-US', { dateStyle: 'full' }) %></p>
            <p><b><i>Difficulty:</i></b> <%= p.difficulty %></p>
            <p><b><i>Description:</i></b> <%= p.description %></p>
            <p><b><i>Complete:</i></b> <%= p.complete ? 'Yes' : 'In Progress' %></p>
            <p><b><i><a href="/projects/my/<%= p._id %>">See more</a></i></b></p>
        </div>

    <% }) %>

<% } else { %>
    <p id="no-projects">You do not have any projects - add one above!</p>
<% } %>
</div>

<%- include('../partials/footer') %>