<%- include('../partials/header') %>

<h1><%= project.title %></h1>

<div id="project-details">
    <div id="CRUDicons">
        <% if (user && project.creator.equals(user._id)) { %>
            <a id="my-project-edit-button" href="/projects/<%= project._id %>/edit">
                <button>
                    <img src="/images/edit-icon.png" alt="edit icon" id="edit-my-project-button">
                </button>
            </a>
            <form id="my-project-delete-button" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                <button type="submit">
                    <img src="/images/delete-icon.png" alt="trash icon" id="delete-my-project-button">
                </button>
            </form>
        <% } %>
    </div>
    <div id="show-creator-detail">
        <img src="<%= project.creator.avatar %>">
        <h4><%= project.creator.name %></h4>
    </div>
    <div id="show-project-info">
        <div id="project-info-text">
            <p><b><i>Start Date:</i></b></p>
            <p><%= project.startDate.toLocaleString('en-US', { dateStyle: 'full' }) %></p>
            <p><b><i>Difficulty:</i></b></p>
            <p><%= project.difficulty %></p>
            <p><b><i>Description:</i></b></p>
            <p><%= project.description %></p>
            <p><b><i>Complete:</i></b></p>
            <p><%= project.complete ? 'Yes' : 'In Progress' %></p>
        </div>
        <div>
            <img src="<%= (project.image) ? project.image : '/images/yarn-ball-copy.png' %>">
        </div>
    </div>
</div>
<div>
    <h4>Comments</h4>
    <div id="comment">
        <% if (user) {%>
            <form action="/projects/<%= project._id %>/comments" method="POST" id="comment-form">
                <label>Leave comment here</label>
                <textarea type="text" name="content" id="comment-text" required></textarea>
                <input type="submit" value="Post comment">
            </form>
        <% } %>
    </div>
    <div>   
        <% if (project.comments.length) { %>
            <% project.comments.forEach(function(c) { %>
                <div id="comment-details">
                    <img src="<%= c.userAvatar %>" alt="avatar">
                    <p id="comment-author"><b><%= c.userName %></b></p>
                    <p id="comment-date"><%= c.createdAt.toLocaleDateString() %></p>
                    <p id="comment-content"><%= c.content %></p>
                    <% if ( user&& c.user.equals(user._id)) { %>
                        <form id="comment-delete-button" action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <button type="submit">
                                <img src="/images/delete-icon.png" alt="delete icon">
                            </button>
                        </form>
                    <% } %>
                </div>
                
            <% }); %>
        <% } else { %>
            <p class="no-comments">This project has no comments yet.</p>
        <% } %>
    </div>
</div>






<%- include('../partials/footer') %>