<%- include('../partials/header') %>

<div id="project-details">
    <div id="show-title-creator">
        <h2><%= project.title %></h2>
        <div id="show-creator-detail">
            <h4 ><%= project.creator.name %></h4>
            <img src="<%= project.creator.avatar %>">
        </div>
    </div>
    <div id="show-project-info">
        <div>
            <p>Start Date:</p>
            <p><%= project.startDate.toLocaleString('en-US', { dateStyle: 'full' }) %></p>
            <p>Difficulty:</p>
            <p><%= project.difficulty %></p>
            <p>Description:</p>
            <p><%= project.description %></p>
        </div>
        <div>
            <img src="<%= project.image %>">
        </div>
    </div>
</div>

<div>
    <h4>Comments</h4>
    <div id="comment">
        <% if (user) {%>
            <form action="/<%= project._id %>/comments" method="POST" id="comment-form">
                <label>Leave comment here</label>
                <textarea type="text" name="content" id="comment-text"></textarea>
                <input type="submit" value="Post comment">
            </form>
        <% } %>
    </div>
    <div>   
        <% if (project.comment.length) { %>
            <% project.comment.forEach(function(c) { %>
                <div id="comment-details">
                    <img src="<%= c.userAvatar %>" alt="avatar">
                    <p id="comment-author"><b><%= c.userName %></b></p>
                    <p id="comment-date"><%= c.createdAt.toLocaleDateString() %></p>
                    <p id="comment-content"><%= c.content %></p>
                    <% if (user && c.user.equals(user._id)) { %>
                        <form id="comment-delete-button" action="/comments/<%= c._id %>?_method=DELETE" method="POST"><input type="submit" value="Delete"></input></form>
                    <% } %>
                </div>
                
            <% }); %>
        <% } else { %>
            <p>This project has no comments yet.</p>
        <% } %>
    </div>
</div>






<%- include('../partials/footer') %>