<%- include('../partials/header') %>

<h1>Update <%= project.title %></h1>

<form action="/projects/<%= project.id %>/update?_method=PUT" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= project.title %>" required>
    
    <label>Image (link to image):</label>
    <input type="text" name="image" value="<%= project.image %>>">
    
    <label>Start Date:</label>
    <input type="datetime-local" name="startDate" value="<%= startDate %>" required>
    
    <label>Difficulty:</label>
    <select name="difficulty" required>
        <option value="<%= project.difficulty %>"><%= project.difficulty %></option>
        <option value="Beginner">Beginner</option>
        <option value="Easy">Easy</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Experienced">Experienced</option>
    </select>
    
    <label>Description (eg. Details, stiches used, pattern link, etc):</label>
    <input type="text" name="description" value="<%= project.description %>">

    <label>Complete:</label>
    <input type="checkbox" name="complete" <%= project.complete ? 'checked' : '' %>>

    <input type="submit" value="Update Project">
</form>

<%- include('../partials/footer') %>