<%- include('../partials/header') %>

<h1>Update <%= project.title %></h1>

<form class="edit-new-form" action="/projects/<%= project.id %>/update?_method=PUT" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= project.title %>" required>
    
    <label>Image <span class="smaller-text"> (link to image, accepts .jpeg, .jpg, .png, .gif, or .svg):</span></label>
    <input type="text" name="image" value="<%= project.image %>" title="Must be a website and end with '.jpg', '.jpeg', '.png', '.gif' or '.svg'" pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+(?:png|jpg|jpeg|gif|svg)+$">
    <!-- Used this link to get this RegEx: https://stackoverflow.com/a/51493215/19302610 -->
    
    <label>Start Date:</label>
    <input type="datetime-local" name="startDate" value="<%= startDate %>" required>
    
    <label>Difficulty:</label>
    <select name="difficulty" required>
        <option value="<%= project.difficulty %>"><%= project.difficulty %></option>
        <option value="Beginner">Beginner</option>
        <option value="Easy">Easy</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Experienced">Experienced</option>
    </select>
    
    <label>Description <span class="smaller-text">(eg. Details, stiches used, pattern link, etc):</span></label>
    <input type="text" name="description" value="<%= project.description %>">

    <label>Complete:</label>
    <input type="checkbox" name="complete" <%= project.complete ? 'checked' : '' %>>

    <input type="submit" value="Update Project">
</form>

<%- include('../partials/footer') %>